/* Colours */
body {
 color: #0a0;
 background-color: #001500;
}
a {
 color:#0c0;
}
a:hover {
 color: #0f0;
}
#menulinks a, #otherlangs a, #otherlangs li {
 color: #0c0;
}
#menulinks a:hover, #otherlangs a:hover {
 color: #0f0;
}
#otherlangs {
 color: #0c0;
}
#menubar {
 background-color: black;
}
#homeicon {
 background-color: gray;
}
#homeicon a {
 color: #000;
}
#homeicon a:hover {
 color: #fff;
}
footer {
 background-color: #002500;
}
footer a {
 text-decoration: none;
 color: #060;
}
footer a:hover {
 color: #090;
}
.na {
 color: #0f0;
}

h1:hover, h2:hover {
 color: #0b0;
}
