/* Colours */
body {
 color: #999;
 background-color: #222;
}
a {
 color:#ccc;
}
a:hover {
 color: #fff;
}
#menulinks a, #otherlangs a, #otherlangs li {
 color: #ccc;
}
#menulinks a:hover, #otherlangs a:hover {
 color: #fff;
}
#otherlangs {
 color: #ccc;
}
#navbar {
 background-color: #000;
}
#homeicon {
 background-color: gray;
}
#homeicon a {
 color: #000;
}
#homeicon a:hover {
 color: #fff;
}
footer {
 background-color: #252525;
}
footer a {
 text-decoration: none;
 color: #666;
}
footer a:hover {
 color: #999;
}
.na {
 color: #f00;
}

h1:hover, h2:hover,
.cv-section-title:hover, .cv-section .cv-tag:hover {
 color: #bbb;
}
/* End Colours */

