/* Custom Fonts */

/* DejaVu Serif */
@font-face {
 font-family: 'DejaVu Serif';
 src: local('DejaVuSerif'),
      url('fonts/DejaVuSerif-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSerif-webfont.woff') format('woff'),
      url('fonts/DejaVuSerif-webfont.ttf') format('truetype'),
      url('fonts/DejaVuSerif-webfont.svg#DejaVuSerifBook') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'DejaVu Serif';
 src: local('DejaVu Serif Oblique'),
      local('DejaVuSerif-Oblique'),
      url('fonts/DejaVuSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSerif-Italic-webfont.woff') format('woff'),
      url('fonts/DejaVuSerif-Italic-webfont.ttf') format('truetype'),
      url('fonts/DejaVuSerif-Italic-webfont.svg#DejaVuSerifItalic') format('svg');
 font-weight: normal;
 font-style: italic;
}

@font-face {
 font-family: 'DejaVu Serif';
 src: local('DejaVu Serif Bold'),
      local('DejaVuSerif-Bold'),
      url('fonts/DejaVuSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSerif-Bold-webfont.woff') format('woff'),
      url('fonts/DejaVuSerif-Bold-webfont.ttf') format('truetype'),
      url('fonts/DejaVuSerif-Bold-webfont.svg#DejaVuSerifBold') format('svg');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'DejaVu Serif';
 src: local('DejaVu Serif Bold Oblique'),
      local('DejaVuSerif-BoldOblique'),
 url('fonts/DejaVuSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSerif-BoldItalic-webfont.woff') format('woff'),
      url('fonts/DejaVuSerif-BoldItalic-webfont.ttf') format('truetype'),
 url('fonts/DejaVuSerif-BoldItalic-webfont.svg#DejaVuSerifBoldItalic') format('svg');
 font-weight: bold;
 font-style: italic;
}
/* End DejaVu Serif */

/* DejaVu Mono */
@font-face {
 font-family: 'DejaVuSansMono';
 src: local('DejaVuSansMono'),
      url('fonts/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSansMono-webfont.woff') format('woff'),
      url('fonts/DejaVuSansMono-webfont.ttf') format('truetype'),
      url('fonts/DejaVuSansMono-webfont.svg#DejaVuSansMonoBook') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'DejaVuSansMono';
 src: local('DejaVuSansMono Oblique'),
      local('DejaVuSansMono-Oblique'),
      url('fonts/DejaVuSansMono-Italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSansMono-Italic-webfont.woff') format('woff'),
      url('fonts/DejaVuSansMono-Italic-webfont.ttf') format('truetype'),
      url('fonts/DejaVuSansMono-Italic-webfont.svg#DejaVuSansMonoItalic') format('svg');
 font-weight: normal;
 font-style: italic;
}

@font-face {
 font-family: 'DejaVuSansMono';
 src: local('DejaVuSansMono Bold'),
      local('DejaVuSansMono-Bold'),
      url('fonts/DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSansMono-Bold-webfont.woff') format('woff'),
      url('fonts/DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
      url('fonts/DejaVuSansMono-Bold-webfont.svg#DejaVuSansMonoBold') format('svg');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'DejaVuSansMono';
 src: local('DejaVuSansMono Bold Oblique'),
      local('DejaVuSansMono-BoldOblique'),
 url('fonts/DejaVuSansMono-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/DejaVuSansMono-BoldItalic-webfont.woff') format('woff'),
      url('fonts/DejaVuSansMono-BoldItalic-webfont.ttf') format('truetype'),
 url('fonts/DejaVuSansMono-BoldItalic-webfont.svg#DejaVuSansMonoBoldItalic') format('svg');
 font-weight: bold;
 font-style: italic;
}
/* End DejaVu Mono */
/* End Custom Fonts */

