/* Structure */
* {
 margin: 0px;
 padding: 0px;
}
ul, ol {
 margin-left: 40px;
}
ul ul {
 margin-left: 0px;
}
li {
 margin-left: 20px;
}
html, body {
 height: 100%;
}
#menubar ul {
 list-style: none;
}
#menubar li {
 float: left;
}
#menulinks a, #otherlangs a, #otherlangs>:first-child {
 line-height: 30px;
 padding-right: 15px;
 padding-left: 15px;
 font-weight: bold;
}
#searchform, #otherlangs {
 float: right;
}
#menubar {
 min-height: 30px;
}
#navbar {
 position: absolute;
 top: 0px;
 margin-bottom: -30px;
 min-height: 30px;
 width: 100%;
}
html, body, #navbar, #page, #footer {
 min-width:480px;
}
#homeicon {
 height: 30px;
 float: left;
}
#page {
 min-height: 100%;
 max-width: 640px;
 margin-left: auto;
 margin-right: auto;
}
article {
 overflow: auto;
 padding-bottom: 50px;
 padding-top: 50px;
}
footer {
 position: relative;
 margin-top: -30px;
 height: 30px;
 width: 100%;
 clear:both;
 line-height:30px;
 text-align: center;
}

/* Looks */
/* fonts */
* {
 font-family: 'DejaVu Serif';
}
code, .codehilite, .codehilite * {
 font-family: 'DejaVuSansMono';
 font-size: 0.95em;
}
#homeicon {
 /*font-family: 'Droid Sans Mono', sans-serif;*/
 font-family: 'DejaVuSansMono';
 font-size: 20px;
}
#homeicon a {
  margin: auto;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
a {
 text-decoration: none;
}

.entry-title {
 text-align: center;
}
.author {
 text-align: right;
 margin-bottom: 25px;
}
#searchquery {
	max-width: 221px;
 min-width: 75px;
	/*background: transparent url('search-bg.jpg') no-repeat;*/
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
 margin-top: auto;
 margin-bottom: auto;
}
h1 {
 font-size: 30px;
 margin-bottom: 10px;
 margin-top: 20px;
}
h2, .tag-title {
 font-size: 25px;
 margin-top: 20px;
 margin-bottom: 10px;
}
h3 {
 font-size: 18px;
 margin-top: 15px;
 margin-bottom: 8px;
}
p {
 margin-top: 5px;
 margin-bottom: 5px;
 text-indent: 40px;
}
.entry-tags {
 display: inline-block;
}
a.entry-tags {
 margin-left: 10px;
}
a.entry-tags, .tag-title {
 background: transparent url('tag.png') no-repeat;
 padding-left: 20px;
}
.m1:after {
 content: "\40";
}
.m2:after {
 content: ".";
}
.m0 {
 font-size:.001px;
 color:transparent;
 width: 0px;
}

/*.toc {
 border: dashed;
 padding: 20px 15px;
}
.toc ul {
 padding-left: 20px;
}*/
div.codehilite {
 overflow: auto;
}
blockquote {
 margin: 0px 20px;
 /*border: dashed;*/
 font-style: italic;
 padding: 15px;
 text-indent: 0px;
}
blockquote p:before {
 content: "«";
}
blockquote p:after {
 content: "»";
}
/* Films */
#films-wrapper li{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* End Films */
/* CV */
#cv-personalinfo {
 float: right;
}
#cv-personalinfo .cv-tag {
 float: left;
 margin-right: 10px;
}
#cv-personalinfo .cv-value {
 float: left;
}
.cv-section {
 margin-top: 25px;
 clear: both;
}
.cv-section-entry {
 margin-top: 20px;
}
.cv-section-title{/*, .cv-section .cv-tag {*/
 font-weight: bold;
}
.cv-section-title {
 font-size: 20px;
}
.cv-section .cv-tag {
 font-size: 17px;
 font-style: italic;
 margin-bottom: 4px;
}
.cv-section .cv-value {
 padding-left: 15px;
 margin-top: 0px;
 margin-bottom: 8px;
}
.cv-section ul {
 margin-left: 15px;
}
/* End CV */
